@use "../../styles/abstracts/mixins" as mix;
@use "../../styles/abstracts/variables" as var;
@use "sass:math";

.widget-cta {
  @extend %section;
  @extend %wrap;
  text-align: center;

  .title {
    font-family: var.$font-family-base;
  }

  span {
    color: var.$text-color-primary;
  }
  .grid-parent {
    margin-top: var.$gutter-base * 2;

    .grid-item {
      flex-basis: 50%;

      @media (max-width: 768px) {
        flex-basis: 50%;
      }

      @media (max-width: 425px) {
        flex-basis: 100%;
      }

      .grid-item-inner {
        height: auto;

        .cta-head {
          margin-top: math.div(var.$gutter-base, 2);
          margin-bottom: 0;
          font-size: var.$heading-size-small;
        }

        hr {
          border: 1px solid;
          color: var.$text-color-primary;
          margin-top: math.div(var.$gutter-base, 1.5);
        }

        .inner-flex {
          display: flex;
          align-items: center;
          text-align: left;

          .inner-icon {
            flex-basis: 10%;
            flex-shrink: 0;
            margin-right: var.$gutter-base;

            img {
              width: 100%;
            }
          }
        }
        
        button {
          border: none;
          margin-top: var.$gutter-base;
        }
      }
    }
  }
}
