@use "../../styles/abstracts/mixins" as mix;
@use "../../styles/abstracts/variables" as var;
@use "sass:math";
.widget-values {
  @extend %section;
  @extend %wrap;
  text-align: center;
  overflow: hidden;

  .title {
    text-align: center;
  }

  .grid-parent {
    margin-bottom: var.$gutter-base;
  }

  h3 {
    margin-bottom: math.div(var.$gutter-base, 3);
  }

  .text {
    font-size: var.$heading-size-tiny;
  }

  img {
    border-radius: 50%;
  }
}
